/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  /* background: linear-gradient(120deg,#daf0ff, #9f94a4); */
  background-color: #f5f5f5;
  /* overflow: hidden; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ===============NavBar================= */
.nav {
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}


.site-title{
    font-size: 2rem;
    text-align: left;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}


.nav li.active {
  color: rgb(183, 160, 140);
  text-decoration: underline;
}

.nav li:hover{
  background-color: rgb(255, 243, 236);
}

.user-link:hover {
  background-color: rgb(255, 243, 236);
}

.dropdown-menu{
  top: 55px;
  position: absolute;
  width: fit-content;
  background: #707070;
  color: rgb(255, 255, 255);
  display: block;
}

.cart-number{
  position: relative;
  background-color: #f44336;
  color: white;
  width: 20px;
  height: fit-content;
  text-align: center;
  border-radius: 50%;
  top: -10px;
  left: -5px;
}

/* .nav .user-link:hover {
  
} */

/* ===============Home================= */
.threedimension-container {
  display: flex;
}

/* ===============toggle-sliders================= */
.toggle-switch{
  display: flex;
  justify-content: end;

}
.toggle-switch button{
  margin-top: 30px;
  margin-right: 8%;
}
.toggle-switch h3{
  position: relative;
  display: inline-block;
  width: fit-content;
  height: 34px;
  margin-right: 10px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 8%;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.btn-addnewproduct {
  position: relative;
  height: 50px;
  padding: 15px 30px;
  background-color: #3988d7;
  color: white;
  border: none;
}
.btn-addnewproduct:hover {
  transition: 0.2s;
  background-color: #3e8e41
}



/* ===============error-message================= */
.error-message {
  position: relative;
  width: 50%;
  text-align: center;
  color: white;
  background-color: red;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ===============Login/Signup Form================= */
.center{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.login{
  width: 400px;
  height: 400px;
}
.signup{
  width: 400px;
  height: 430px;
}
.center-success{
  display: grid;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  justify-content: center;
  align-items: center;
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form{
  margin-top: 20px;
  padding: 0 40px;
  box-sizing: border-box;
}
.center label{
  text-align: left;
  display: block;
  margin-top: 10px;
}
.center input{
  width: 100%;
  height: 15%;
}

.btn-sign-in {
 font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
 font-size: 17px;
 padding: 1em 2em;
 font-weight: 500;
 background: #1F2937;
 color: white;
 border: none;
 position: relative;
 overflow: hidden;
 border-radius: 0.6em;
 margin-top: 20px;
}

.btn-sign-in:hover {
  transition: 0.2s;
  transform: scale(1.05);
  background: black;
}
.signup-link {
  margin-top: 20px;
}

model-viewer {
  width: 600px;
  height: 600px;
  margin: 0 auto;
}
.left {
  float: left;
}
.right {
  float: right;
}


/* ===============Products================= */

.products-container{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
}

.product-card{
  text-align: center;
  min-height: fit-content;
  width: 500px;
  margin: 30px auto;
  background-color: white;
}
.product-card:hover{
  transition: 0.05s;
  border: solid;
  border-color: #ee4d2d;
}
.search-bar-container {
  display: flex;
  justify-content: center;
}
.search-bar{
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  overflow: hidden;
  border-radius: 20px;
}
.search-bar label{
  margin-left: 10px;
}
.search-input{
  position: relative;
  margin: 10px;
  height: 30px;
  width: 30px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.search-input:focus {
  width: 180px;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}

.btn-addtocart {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #3988d7;
  color: white;
  border: none;
}
.btn-addtocart:hover {
  transition: 0.2s;
  background-color: #3e8e41
}
.btn-deletefromcart {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #d75139;
  color: white;
  border: none;
}
.btn-deletefromcart:hover {
  transition: 0.2s;
  background-color: #3e8e41
}


/* ===============Cart================= */
.order-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  min-height: 50vh;
}
.cart-items-container{
  background-color: white;
  width: 60%
}

.cart-item-container {
  margin-top: 30px;
   display: flex;
   justify-content: space-around;
}
.cart-input{
   width: 30px;
   text-align: center;
}
.cart-item-container table{
   text-align: center;
   width: 100%;
}
.cart-item-container td{
  width: 25%;
}
.btn-qty {
  border: none;
  margin: 20px;
  border-radius: 50%;
  padding: 8px 16px;
  vertical-align: center;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.btn-qty:hover {
  transform: opacity 0s;
  transition: .2s;
  background-color: #444444;
  color: rgb(255, 255, 255);
}

.btn-dlt{
  border: none;
  margin: 20px;
  border-radius: 50%;
  padding: 8px 16px;
  vertical-align: center;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.btn-dlt:hover {
  transform: opacity 0s;
  transition: .2s;
  background-color: #444444;
  color: rgb(255, 255, 255);
}

.order-summary-container {
  position: relative;
  width: 20%;
  background-color: white;
  border-left: solid;
  text-align: center;
  max-height: 50vh;
}

.btn-checkout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #3988d7;
  color: white;
  border: none;
}
.btn-checkout:hover {
  transition: 0.2s;
  background-color: #3e8e41
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/* ===============Modal================= */

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 400px;
    max-height: 600px;
    min-height: 300px;
}

.modal-content input{
  width: 100%;
}

.btn-close {
  margin-top: 2px;
  margin-right: 5px;
  position: absolute;
  top: 0;
  right: 0;
}
.update-container{
  display: flex;
  justify-content: center;
}
.btn-update {
  position: relative;
}

.modal-content-product {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    width: fit-content;
    height: fit-content;
}

